@import "../../node_modules/vue-material/dist/theme/engine.scss"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(green, 500), // The primary color of your application
  accent: md-get-palette-color(green, A700) // The accent or secondary color
));

@import "../../node_modules/vue-material/dist/theme/all.scss"; // Apply the theme

html {
  height: 30px !important;
}

body {
  position: relative;
  width: 400px;
  height: auto;
}

.spinner {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 232px;
}
