<template>
  <form novalidate @submit.prevent="validateForm">
    <md-card class="md-layout-item">
      <md-card-content>
        <div class="md-layout md-gutter">
          <div class="md-layout-item">
            <md-field :class="getValidationClass('taskName')">
              <label for="taskName">Task name</label>
              <md-input id="taskName" name="taskName" v-model="taskName" />
            </md-field>
            <projects-list v-bind:access-token="accessToken" v-on:project-selected="projectSelected($event)"/>
          </div>
        </div>
      </md-card-content>

      <md-card-actions>
        <md-button type="submit" class="md-primary">Add task</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import Nozbe from 'node-nozbe';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';

import { getCurrentTab } from '../chrome/tabs';
import ProjectsList from './projectsList.component.vue';
import { NOZBE } from '../secrets.dev';
import { events, addTaskStatuses } from '../constants';

const clientId = NOZBE.client_id;

export default {
  name: 'addTaskForm',
  mixins: [validationMixin],
  components: {
    ProjectsList,
  },
  props: {
    accessToken: {
      type: String,
      required: true,
    }
  },
  data: () => ({
    taskName: '',
    selectedProjectId: null,
  }),
  validations: {
    taskName: {
      required,
    },
  },
  methods: {
    async addTask() {
      const { accessToken, taskName, selectedProjectId } = this;

      if (clientId && accessToken) {
        const task = {
          name: taskName,
          projectId: selectedProjectId,
        };

        this.$emit(events.ADD_TASK, addTaskStatuses.ADDING);

        await Nozbe.addTask(clientId, accessToken, task).then(async res => {
          const currentTab = await getCurrentTab();
          const { title, url } = currentTab;

          const body = `[${title}](${url})`;

          const comment = {
            taskId: res.id,
            body,
          };

          await Nozbe.addComment(clientId, accessToken, comment);
          window.close();
        });
      }
    },
    projectSelected(projectId) {
      this.selectedProjectId = projectId;
    },
    validateForm() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.addTask();
      }
    },
    getValidationClass(fieldName) {
      const field = this.$v[fieldName];

      if (field) {
        return {
          'md-invalid': field.$invalid && field.$dirty,
        };
      }
    },
  }
};
</script>

<style>
  .md-card-content {
    height: 250px;
  }
</style>
