<template>
  <md-card>
    <md-card-header>
        <div class="md-title">Log in</div>
      </md-card-header>

      <md-card-content>
        <p>You need to log in in order to use <b>Chrome to Nozbe</b> extension.</p>
        <p v-if="readMore">
          When you click <i>Log in</i> an authentication window will open. You'll need to login using your Nozbe account credentials in order to obtain the <i>API key</i>. After that you'll be able to save current website to your productivity system.<br/><br/>
          No Nozbe data is processed locally - adding task to the project is done via secure API provided by the Nozbe Team. You can always remove your API key on the extension Options Page.
        </p>
      </md-card-content>

      <md-card-actions md-alignment="space-between">
        <md-button v-if="!readMore" @click="readMoreClick">Tech blabbering</md-button>
        <div v-if="readMore"></div>
        <md-button class="md-primary" @click="authenticate">Log in</md-button>
      </md-card-actions>
  </md-card>
</template>

<script>
import { authenticate } from '../nozbe/auth';
import { getAccessToken } from '../chrome/storage';

export default {
  name: 'authenticationForm',
  data: () => ({
    readMore: false,
  }),
  methods: {
    async authenticate() {
      await authenticate();
      const accessToken = await getAccessToken();
      this.$emit('authenticated', accessToken);
    },
    readMoreClick() {
      this.readMore = true;
    },
  }
};
</script>
