<template>
  <md-field>
    <label for="selectedProject">Project</label>
    <md-select v-if="projects.length" v-model="selectedProjectId" @md-selected="projectChange($event)">
      <md-option v-for="project in projects" v-bind:key="project.name" v-bind:value="project.id">
        {{ project.name }}
      </md-option>
    </md-select>
  </md-field>
</template>

<script>
import Nozbe from 'node-nozbe';
import { NOZBE } from '../secrets.dev.js';

const clientId = NOZBE.client_id;

export default {
  name: 'projectsList',
  props: {
    accessToken: {
      type: String,
      required: true,
    }
  },
  data: () => ({
    projects: [],
    selectedProjectId: null,
  }),
  mounted() {
    const vm = this;

    vm.$nextTick(async () => {
      this.projects = await Nozbe.getProjects(clientId, vm.accessToken, { sort: true });
      this.selectedProjectId = this.projects[0].id;
      this.$emit('project-selected', this.selectedProjectId);
    })
  },
  methods: {
    projectChange(e) {
      this.$emit('project-selected', this.selectedProjectId);
    }
  }
};
</script>
