<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="mainWindow">
    <md-toolbar>
      <h3 class="md-title" style="flex: 1">Add to Nozbe</h3>
      <md-button @click="openSettings" class="md-icon-button">
        <md-icon>settings</md-icon>
      </md-button>
    </md-toolbar>

    <div class="spinner" v-if="status === 'adding'">
      <md-progress-spinner md-mode="indeterminate" :md-diameter="100" :md-stroke="10"></md-progress-spinner>
    </div>

    <authentication-form
      v-if="!accessToken"
      @authenticated="authenticated($event)"
    ></authentication-form>
    <add-task-form
      v-if="accessToken && !(status === 'adding')"
      v-bind:access-token="accessToken"
      @add-task="statusChanged($event)"
    ></add-task-form>
  </div>
</body>
</html>
